html, body, #app, .app-component,
.game__wrapper,
.game__container {margin: 0;padding: 0;height: 100%;}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;

  &> div{
    width: 100%;
  }
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input.game-location {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.game__container, .game__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.game__row, .game__wrapper {
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

#app .game__wrapper {
  display: flex;
  header, footer{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto; height: 30px;

    background: #222;
    border: 1px solid #000;

    color: #fff;
    .navbar-brand, .navbar-nav > li > a {
      padding-top: 5px;
      color: #fff;
    }
    .navbar-btn {
      margin-top: 5px;
      margin-top: 5px;
    }
  }
}

.flexChild{
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}


.team {
  position: relative;

  &.blue {
    background: #3D1DFF;
    color: #e8aa3f;
    color: white;
  }
  &.green {
    background: #00FFAC;
    color: #8d434e;
    color: #000;
  }
  &.red {
    background: #B22C0A;
    color: #00ffff;
    color: white;
  }
  &.yellow {
    background: #FFE119;
    color: #2c42e8;
    color: #000;
  }
  h3{
    font-size: 300%;
    margin: auto;
    position: absolute;
    height: 50px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
  }
  p {
    position: absolute;
  }
  .increment, .decrement{
    color: transparent;
    position:absolute;
    height: 50%;
    width: 100%;
    left: 0;
    cursor: pointer;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;
  }
  .decrement{
    top: 50%;
  }
}
